\/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('C:\Users\MobmabPP\Documents\GitHub\hydro_two\src\component\assets\font\CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('C:\Users\MobmabPP\Documents\GitHub\hydro_two\src\component\assets\font\CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('C:\Users\MobmabPP\Documents\GitHub\hydro_two\src\component\assets\font\CentraNo2-Book.ttf');
	font-weight: 400;
}

************
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #333433 !important;
    color: #fff !important;
    font-family: 'Centra',sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p, a, li, button, ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  button {
    border: 0;
    background-color: transparent;
  }
  
  input:focus, textarea:focus, select:focus {
    outline: none;
  }
  
  @media (min-width:1700px) {
      main .container {
          max-width: 100%;
          padding: 0 150px;
      }
  }
  
  p.success {
      color: green;
  }
  
  p.danger {
      color: red;
  }


*********Navbar css********

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e3e7ed;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

.navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 03s ease-in-out;
}


li {
    list-style: none;
}

.navbar {
    height: 10vh;
    line-height: 10vh;
    
}

.logo {
    font-size: 30px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.container {
    max-width: 90%;
    margin: auto;
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
}

.nav-links a:hover {
    color: #02c7a6;
}


.hero {
    text-align: center;
    margin-top: 15%;
}

.hero h1 {
    text-align: center;
    font-size: 80px;
}

button {
    border: none;
    background: none;
    font-size: 20px;
}

.navbar-text button {
    font-weight: 700;
    color: #fefdfd;
    border: 1px solid #ffffff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
      position: relative;
      background-color: transparent;
      transition: 0.3s ease-in-out;
  }
  .navbar-text button span {
    z-index: 1;
  }
  .navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #b8b8ed;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .navbar-text button:hover {
    color: #181867;
  }
  .navbar-text button:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
  }